header {
	background: #F8F9FA;
	border-bottom: 1px solid #DEE2E6;
	padding-block: 1em;
	padding-inline: var(--body-padding);
	display: flex;
	justify-content: space-between;
}

img {
	height: 3rem;
	width: auto;
}