.countdown {
	display: flex;
	justify-content: space-between;
	gap: var(--spacing);

	&__item {
		flex: 1;
		text-align: center;

		&-time,
		&-label {
			display: block;
		}

		&-time {
			font-size: 6em;
		}
	}
}