<section>
	<header>
		<h1>Stage</h1>
	</header>
	<div>
		<ul class="countdown">
			<li class="countdown-item">
				<span class="countdown-item-time">{{ remainingTime.days }}</span>
				<span class="countdown-item-label">Dagen</span>
			</li>
			<li class="countdown-item">
				<span class="countdown-item-time">{{ remainingTime.hours }}</span>
				<span class="countdown-item-label">Uren</span>
			</li>
			<li class="countdown-item">
				<span class="countdown-item-time">{{ remainingTime.minutes }}</span>
				<span class="countdown-item-label">Minuten</span>
			</li>
			<li class="countdown-item">
				<span class="countdown-item-time">{{ remainingTime.seconds }}</span>
				<span class="countdown-item-label">Secondes</span>
			</li>
		</ul>
	</div>
</section>