<header>
	<h1>Stage</h1>
</header>
<div>
	<ul class="countdown">
		<li class="countdown__item">
			<span class="countdown__item-time">{{ remainingTime.days }}</span>
			<span class="countdown__item-label">Dagen</span>
		</li>
		<li class="countdown__item">
			<span class="countdown__item-time">{{ remainingTime.hours }}</span>
			<span class="countdown__item-label">Uren</span>
		</li>
		<li class="countdown__item">
			<span class="countdown__item-time">{{ remainingTime.minutes }}</span>
			<span class="countdown__item-label">Minuten</span>
		</li>
		<li class="countdown__item">
			<span class="countdown__item-time">{{ remainingTime.seconds }}</span>
			<span class="countdown__item-label">Secondes</span>
		</li>
	</ul>
</div>